.balloon {
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: 50%;
  bottom: -10rem;
  animation: float 5s forwards;
}
section {
  position: absolute;
  bottom: -2rem;
  left: 50%;
  will-change: transform;
  transform: translateX(-50%) translateZ(0);
}

@keyframes float {
  to {
    transform: translateY(-120vh) translateZ(0);
  }
}