.balloon {
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: 50%;
  bottom: -10rem;
  animation: float 5s forwards;
}
section {
  position: absolute;
  bottom: ;
  left: 50%;
  transform: translateX(-50%);
}
button {
  width: 4rem;
  height: 4rem;
  border: 1px solid black;
}
button:focus {
  outline: none;
}
#red {
  background: red;
}
#blue {
  background: blue;
}
#yellow {
  background: yellow;
}
#green {
  background: green;
}
#purple {
  background: purple;
}
#pink {
  background: pink;
}
#brown {
  background: brown;
}
#orange {
  background: orange;
}
#white {
  background: white;
}
#black {
  background: black;
}

@keyframes float {
  to {
    bottom: calc(100vh + 5rem);
  }
}