<form>
  <input id="textInput" type="text" placeholder="Write something">
  <button type="button" id="red"></button>
  <button type="button" id="blue"></button>
  <button type="button" id="yellow"></button>
  <button type="button" id="green"></button>
  <button type="button" id="purple"></button>
  <button type="button" id="pink"></button>
  <button type="button" id="brown"></button>
  <button type="button" id="orange"></button>
  <button type="button" id="white"></button>
  <button type="button" id="black"></button>
</form>